<div class="job-list">
    <ul *ngFor = "let job of jobListArray">
        <li class="lists">
            <div class="logo">
                <img src="{{job.logo}}" alt="company logo" style="width: 70px; height: 70px;">
            </div>
            <div class="details">
                <div class="top-details common-css">
                    <span> {{ job.company }} </span> 
                    <!-- <span> new! </span> -->
                    <button type="button" class="btn">NEW!</button>
                    <button class="btn btn-featured"> FEATURED </button>
                </div>

                <p class="position common-css"> {{ job.position }} </p>
                
                <div class="bottom-details common-css">
                    <span> {{ job.postedAt }} </span> . 
                    <span> {{ job.contract }} </span> . 
                    <span> {{ job.location }} </span>
                </div>
                
            </div>
            <div class="available-filters" >
                <div *ngFor="let lang of job.languages">
                    <button class="filter-btn" type="button" (click)="getLanguage(lang)"> {{ lang }} </button>
                </div>
            </div>
        </li>
    </ul>
</div>